<h1>Add Order</h1>
<div class="row">
    <div class="col s12">
        <form action="/orders/add" name="order" method="post">
            <div class="row">
                <div class="input-field">
                    <select name="location" required>
                        {{#locations}}
                        <option value="{{id}}">{{name}}</option>
                        {{/locations}}
                    </select>
                    <label for="budget">Choose Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select class="icons" name="vendor">
                        <option value="" disabled selected>Choose Vendor</option>
                        {{#vendors}}
                        <option value="{{id}}" data-icon="{{image.url}}" class="left circle">{{name}}</option>
                        {{/vendors}}
                    </select>
                    <label for="vendor">Vendor</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label>Additional Notes</label>
                    <textarea name="additionalNotes" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <h5>items:</h5>
                    <textarea name="items" required>Place your order body here...</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <input class="btn btn-primary input-field" type="submit" value="submit" class="btn" id="submit-button">
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('items', {
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });       
</script>