<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h4>
                    {{order.name}} {{#if contact.fiance}} + {{contact.fiance}} {{/if}}
                </h4>
                {{!--
                <span class="card-title">{{formatDate contact.date 'MMM Do YYYY'}}</span> --}} {{!--
                <span class="card-title"></span> --}}
                <span class="card-title">Order Date: {{formatDate order.created 'MM/DD/YYYY'}}</span>
                {{{order.items}}}
            </div>
        </div>
        <div class="card story">
            <div class="card-content">
                <form action="/orders/request/{{order.id}}" method="post">
                    <h5>Request:</h5>
                    <div class="row">
                        <div class="input-field">
                            <input type="text" name="subject" value="{{template.subject}}" required>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <textarea name="body" required>
                                {{{template.body}}}
                                {{{order.items}}}
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <input type="submit" value="Send Request" class="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{vendor.name}}</span>
                <img src="{{vendor.image.url}}" class="circle responsive-img">
                <p>Contact Name: {{vendor.contact}}</p>
                <p>Email: {{vendor.email}}</p>
                <p>Phone: {{vendor.phone}}</p>
            </div>
            <div class="card-action">
                <a href="/templates/choose/{{contact.id}}">Choose a different Template</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });       
</script>