<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h4>
                    {{order.vendor.displayName}}
                </h4>
                <div class="card-title">
                    <h4 style="font-weight:bold;">
                        {{order.locationDisplayName}}
                        <span class="new badge" data-badge-caption="">{{formatDate order.created 'MM/DD/YYYY'}}</span>
                    </h4>                    
                </div>
                <div class="divider"></div>
                <br>
                <p>
                    <span style="font-weight:bold;">Additional Notes:</span> {{order.additionalNotes}}
                </p>
                <br>
                <div class="card light-green darken-3 white-text">
                    <div class="card-content">
                        {{{order.items}}}
                    </div>
                </div>
                {{#if user.isAdmin}}
                <div class="row">
                    {{!-- <div class="col s12 m6 center-align" style="margin-bottom:30px;">
                        <a class="btn grey darken-1" href="/orders/request/{{order.id}}">Send another request</a>
                    </div> --}}
                    <div class="col s12 m12 center-align">
                        {{#if order.delivered}}
                        <form action="/orders/paid/{{order.id}}?_method=PUT" method="post" class="col s12">
                            <input type="hidden" name="_method" value="PUT">
                            <button class="btn green" type="submit">Mark as Paid
                            </button>
                        </form>
                        {{else}}
                        <form action="/orders/delivered/{{order.id}}?_method=PUT" method="post" class="col s12">
                            <input type="hidden" name="_method" value="PUT">
                            <button class="btn green" type="submit">Mark as delivered
                            </button>
                        </form>
                        {{/if}}
                    </div>
                </div>

                {{else}}
                <div class="row center-align">
                    <div class="col s12">
                        <form action="/orders/delivered/{{order.id}}?_method=PUT" method="post" class="col s12">
                            <input type="hidden" name="_method" value="PUT">
                            <button class="btn" type="submit">
                                RECEIVED
                            </button>
                        </form>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{order.vendor.name}}</span>
                <img src="{{order.vendor.image.url}}" class="circle responsive-img">
                {{!-- <br>
                <br>
                <div class="chip">
                    <img src="{{user.image}}">
                    <a href="/templates/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                </div> --}}
            </div>
            <div class="card-action">
                <a href="/orders/vendor/{{order.vendor.id}}">View more orders from {{order.vendor.name}}</a>
            </div>
        </div>
    </div>
</div>
{{#if requests}}
<h4>Requests:</h4>
{{#requests}}
<div class="row">
    <div class="col s12 m8">
        <div class="card story grey darken-1 white-text">
            <div class="card-content">
                <h4>
                    <span class="card-title">{{subject}}</span>
                </h4>
                <p>Sent: {{formatDate createdDate 'MM/DD/YYYY'}}</p>
                {{{body}}}
            </div>
        </div>
    </div>
</div>
{{/requests}}
{{/if}}