<h4><i class="fa fa-cart-arrow-down fa-fw"></i>{{#if status}} {{status}} {{/if}} Orders</h4>
{{#if message}} <h5 class="text-green">{{message}}</h5> {{/if}}
{{#if vendors}}

{{!-- <a href="/orders/status/delivered" class="btn green">Show only delivered</a>
<br>
<br> --}}

{{#vendors as |vendor|}}
{{#if vendor.orders}}
<h5 class="header">
    <i class="fa fa-truck fa-fw"></i>{{vendor.name}}    
    {{!-- <span class="new badge" data-badge-caption="pending">{{vendor.orders.length}}</span> --}}
</h5>
<table class="striped card centered">
    <thead class="grey darken-3 grey-text text-lighten-3">
        <tr>
            <th><i class="fa fa-calendar fa-fw"></i>Order Date</th>
            <th class="hide-on-small-only"><i class="fa fa-truck fa-fw"></i>Delivered</th>
            <th class="hide-on-small-only"><i class="fa fa-money fa-fw"></i>Paid</th>
            {{!-- <th class="hide-on-small-only"><i class="fa fa-check fa-fw"></i>Completed</th> --}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#orders as |order|}}        
        <tr class="hoverable">
            <td>
                <span class="new badge hide-on-small-only" data-badge-caption="requests">{{order.requests.length}}</span>
                {{formatDate order.created 'MM/DD/YYYY'}}
            </td>
            <td class="hide-on-small-only">
                <span class="dash-status">
                    <form action="/orders/delivered/{{order.id}}?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">
                        <button style="border: none;background: none;" type="submit">
                            {{#if delivered}}
                            <i class="fa fa-check-square fa-2x"></i></i>
                            {{else}}
                            <i class="fa fa-square fa-2x"></i>
                            {{/if}}
                        </button>
                    </form>
                </span>
            </td>
            <td class="hide-on-small-only">
                <span class="dash-status">
                    <form action="/orders/paid/{{order.id}}?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">
                        <button style="border: none;background: none;" type="submit">
                            {{#if paid}}
                            <i class="fa fa-check-square fa-2x"></i></i>
                            {{else}}
                            <i class="fa fa-square fa-2x"></i>
                            {{/if}}
                        </button>
                    </form>
                </span>
            </td>
            {{!-- <td class="hide-on-small-only">
                <span class="dash-status">
                    <form action="/orders/completed/{{order.id}}?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">
                        <button style="border: none;background: none;" type="submit">
                            {{#if completed}}
                            <i class="fa fa-check-square fa-2x"></i></i>
                            {{else}}
                            <i class="fa fa-square fa-2x"></i>
                            {{/if}}
                        </button>
                    </form>
                </span>
            </td> --}}
            <td>
                <a href="/orders/{{order.id}}" class="btn green">Details</a>
            </td>
        </tr>
        {{/orders}}
    </tbody>
</table>
{{/if}}
{{/vendors}}

{{else}}
<p>No orders to show.</p>
{{/if}}