<h4><i class="fa fa-cart-arrow-down fa-fw"></i>{{#if status}} {{status}} {{/if}} Orders</h4>
{{#if message}} <h5 class="text-green">{{message}}</h5> {{/if}}
{{#if vendors}}

{{#vendors as |vendor|}}
{{#if vendor.orders}}
<h5 class="header">
    <i class="fa fa-truck fa-fw"></i>{{vendor.name}}
    <span class="new badge" data-badge-caption="pending">{{vendor.orders.length}}</span>
</h5>
<ul class="collapsible" data-collapsible="expandable">
    {{#orders as |order|}}
    <li>
        <div class="collapsible-header grey darken-1 white-text">
            {{formatDate
            order.created 'MM/DD/YYYY'}}
            <span class="new badge light-green darken-3 white-text" data-badge-caption="{{order.locationDisplayName}}"></span>
        </div>
        <div class="collapsible-body">
            <label for="">Items</label>
            <div class="card light-green darken-3 white-text">
                <div class="card-content">
                    {{{order.items}}}
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12 m6" style="margin-bottom:30px;">
                    <form action="/orders/delivered/{{order.id}}?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">
                        <button class="btn green" type="submit">
                            RECEIVED
                        </button>
                    </form>
                </div>
                <div class="col s12 m6">
                    <a href="/orders/{{order.id}}" class="btn">Details</a>
                </div>
            </div>
        </div>
    </li>
    {{/orders}}
</ul>
{{/if}}
{{/vendors}}

{{else}}
<p>No orders to show.</p>
{{/if}}