<h1>Add Manager</h1>
<div class="row">
    <div class="col s12">
        <form action="/managers/add" name="order" method="post">
            {{!-- NAME --}}
            <div class="row">
                <div class="input-field">
                    <select class="icons" name="user">
                        <option value="" disabled selected>Choose User</option>
                        {{#users}}
                        <option value="{{id}}" data-icon="{{image}}" class="left circle">{{firstName}} {{lastName}}</option>
                        {{/users}}
                    </select>
                    <label for="user">User</label>
                </div>
            </div>
            {{!-- DISPLAY NAME --}}
            <div class="row">
                <div class="input-field">
                    <input type="text" name="displayName" required>
                    <label for="displayName">Display Name</label>
                </div>
            </div>
            {{!-- LOCATION --}}
            <div class="row">
                <div class="input-field">
                    <select name="locations" required multiple>
                        {{#locations}}
                        <option value="{{id}}">{{name}}</option>
                        {{/locations}}
                    </select>
                    <label for="locations">Choose Location</label>
                </div>
            </div>
            {{!-- MOBILE --}}
            <div class="row">
                <div class="input-field">
                    <input type="tel" pattern="\+\d{11}$" class="validate" name="mobile" value="{{mobile}}" required>
                    <label for="mobile" data-error="Must be in +11111111111 format">Mobile Number</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <input class="btn btn-primary input-field" type="submit" value="submit" class="btn" id="submit-button">
                </div>
            </div>
        </form>
    </div>
</div>