<h1>Edit Manager</h1>
<div class="row">
    <div class="col s12">
        <form action="/managers/{{manager.id}}?_method=PUT" name="order" method="post">
            <input type="hidden" name="_method" value="PUT">
            {{!-- NAME --}}
            <div class="row">
                <div class="input-field">
                    <div class="chip">
                        <img src="{{manager.user.image}}">
                        <span>{{manager.user.firstName}} {{manager.user.lastName}}</span>
                    </div>
                </div>
            </div>
            {{!-- DISPLAY NAME --}}
            <div class="row">
                <div class="input-field">
                    <input type="text" name="displayName" value="{{manager.displayName}}" required>
                    <label for="displayName">Display Name</label>
                </div>
            </div>
            {{!-- LOCATION --}}            
            <div class="row">                
                <div class="input-field">
                    <ul class="collection">
                        {{#each manager.locations}}
                        <li class="collection-item light-green darken-3 white-text">{{name}}</li>
                        {{/each}}
                    </ul>                            
                </div>
            </div>
            {{!-- MOBILE --}}
            <div class="row">
                <div class="input-field">
                    <input type="tel" pattern="\+\d{11}$" class="validate" name="mobile" value="{{manager.mobile}}" required>
                    <label for="mobile" data-error="Must be in +1111111111 format">Mobile Number</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn red" type="button" href="/managers">CANCEL</a>                    
                    <input class="btn green" type="submit" value="save" class="btn" id="submit-button">
                </div>
            </div>
        </form>
    </div>
</div>