<h1>Managers
    <a class="btn-floating btn-large waves-effect waves-light red" href="/managers/add"><i class="fa fa-plus"></i></a>
</h1>
{{#if message}} <p class="text-red">{{message}}</p> {{/if}}
<div class="row">
    {{#managers}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{#if user}} {{{managerEditIcon user.id ../user.id id}}} {{/if}}
            </div>
            <div class="card-content center-align">                                
                <h5>{{displayName}}</h5>                           
                <div class="row">
                    <div class="col s12 center-align">
                        {{#locations}}
                        <span class="new badge" style="float:unset;padding:5px;" data-badge-caption="">{{name}}</span>                    
                        {{/locations}}
                    </div>
                </div>       
            </div>
            <div class="card-action center-align">
                <div class="chip">
                    <img src="{{user.image}}">
                    <span>{{user.firstName}} {{user.lastName}}</span>
                </div>
                {{!-- <a class="btn grey" href="/managers/show/{{id}}">View</a> --}}
            </div>
        </div>
    </div>
    {{else}}
    <p>No managers found</p>
    {{/managers}}
</div>