<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            {{#if user}}
            <a href="/dashboard" class="brand-logo">Dashboard</a>
            {{else}}
            <a href="" class="brand-logo">BREW Orders</a>
            {{/if}}
            {{!-- Right nav --}}
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dashboard">Welcome {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{/if}}
            </ul>
            {{!-- Side menu --}}
            <ul class="side-nav" id="main-menu">
                {{#if user}}
                {{else }}
                <li>
                    <a class="btn red darken-1" href="/auth/google">
                        <i class="fa fa-google left"></i> Login with Google</a>
                </li>
                {{/if}}
                {{#if user}}
                <li class="divider"></li>
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                {{#if user.isAdmin}}
                <li>
                    <a href="/orders">
                        <i class="fa fa-history"></i> History</a>
                </li>
                <li>
                    <a href="/vendors">
                        <i class="fa fa-truck"></i> Vendors</a>
                </li>
                <li>
                    <a href="/templates">
                        <i class="fa fa-paper-plane"></i> Templates</a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="fa fa-cog"></i> Admin</a>
                </li>
                <li>
                    <a href="/managers">
                        <i class="fa fa-user"></i> Managers</a>
                </li>
                {{/if}}
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>