<h1>Edit</h1>
<div class="row">
    <form action="/admin/mobile/{{id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">        
        <div class="row">
            <p>Must be in +1111111111 format</p>
            <br>
            <div class="input-field">
                <input type="tel" pattern="\+\d{10}$" class="validate" name="mobile" value="{{mobile}}" required>
                <label for="mobile">Mobile Number</label>
            </div>
        </div>        
        <input type="submit" value="Save" class="btn">
        <a href="/admin" class="btn red">Cancel</a>
    </form>
</div>