<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .hidden {
            display: none;
        }

        .nav-wrapper .fa-bars {
            font-size: 25px;
        }

        footer {
            margin-top: 20px;
        }

        .post-text {
            height: 120px;
        }

        .dash-status {
            text-transform: capitalize;
        }

        #delete-form {
            display: inline;
        }
    </style>
    {{!--
    <link rel="stylesheet" href="public/styles.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <title>BREW Orders</title>
</head>

<body>
    {{> _header}} {{#if user}} {{> _add-btn}} {{/if}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{> _footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav();
            $('select').material_select();
            $('.modal').modal();
            $('.datepicker').pickadate();
            $('.collapsible').collapsible();
        });

    </script>
</body>

</html>