<h1>Add Template</h1>
<div class="row">
    <form name="template" action="/templates" method="post">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select class="icons" name="vendor">
                    <option value="" disabled selected>Choose Vendor</option>
                    {{#vendors}}
                    <option value="{{id}}" data-icon="{{image.url}}" class="left circle">{{name}}</option>
                    {{/vendors}}
                </select>
                <label for="vendor">Vendor</label>
            </div>
        </div>
        <div class="row">
            <div id="textarea1" class="input-field">
                <textarea name="notes" class="materialize-textarea"></textarea>
                <label for="textarea1">Description of Template</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="subject" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Template:</h5>
                <textarea name="body" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <input type="submit" value="save" class="btn">
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });       
</script>