<h1>Choose Template {{#if vendor.name}} for {{vendor.name}} {{/if}}</h1>
<div class="row">
    {{#templates as |template|}}
    <div class="col s12 m4">
        <div class="card">            
            <div class="card-content center-align">
                {{#if image}} {{else}}
                <h5>{{template.title}}</h5>
                {{/if}}
                <p class="post-text">{{stripTags (truncate template.subject 150)}}</p>
                {{!-- <p class="post-text">{{stripTags (truncate body 150)}}</p> --}}
                {{!-- <br>
                <div class="chip">
                    <img src="{{vendor.image.url}}">
                    <a href="/templates/vendor/{{vendor.id}}">{{vendor.name}}</a>
                </div> --}}
            </div>
            <div class="card-action center-align">
                <a class="btn grey" href="/orders/request/{{orderId}}/{{template.id}}">Choose</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No templates found</p>
    {{/templates}}
</div>