<h1>Edit</h1>
<div class="row">
    <form action="/templates/{{template.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" value="{{template.title}}" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <span>Vendor</span>
                <div class="chip">
                    <img src="{{vendor.image.url}}">
                    <a href="/vendor/{{vendor.id}}">{{vendor.name}}</a>
                </div>
                <input type="hidden" value="{{vendor.id}}" name="vendor" required><br>
            </div>
        </div>
        <div class="row">
            <div id="textarea1" class="input-field">
                <textarea name="notes" class="materialize-textarea">{{template.notes}}</textarea>
                <label for="textarea1">Description of Template</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" value="{{template.subject}}" name="subject" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Template:</h5>
                <textarea name="body" required>{{template.body}}</textarea>
            </div>
        </div>
        {{!--<div class="row">
            <div class="input-field">
                <input type="text" name="title" value="{{template.title}}" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="subject" value="{{template.subject}}" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Email Template:</h5>
                <textarea required name="body">{{template.body}}</textarea>
            </div>
        </div> --}}
        <input type="submit" value="Save" class="btn">
        <a href="/templates" class="btn red">Cancel</a>
    </form>
</div>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });       
</script>