<h1>Templates {{#if message}} for {{message}} {{/if}}
    <a class="btn-floating btn-large waves-effect waves-light red" href="/templates/add"><i class="fa fa-plus"></i></a>
</h1>
<div class="row">
    {{#templates}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{#if user}} {{{templateEditIcon user.id ../user.id id}}} {{/if}}
            </div>
            <div class="card-content center-align">
                {{#if image}} {{else}}
                <h5>{{title}}</h5>
                {{/if}}
                <p class="post-text">{{stripTags (truncate notes 150)}}</p>
                {{!-- <p class="post-text">{{stripTags (truncate body 150)}}</p> --}}
                {{!-- <br> --}}
                {{!-- <div class="chip">
                    <img src="{{user.image}}">
                    <a href="/templates/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                </div> --}}
            </div>
            <div class="card-action center-align">
                <a class="btn grey" href="/templates/show/{{id}}">View</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No templates found</p>
    {{/templates}}
</div>