<div class="row">
    <div class="col s12 m8">
        <h3>{{template.title}}</h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">Subject: {{template.subject}}</span>
                {{!-- <div>{{formatDate template.created_date 'MMM Do YYYY'}}</div> --}}
                {{{template.body}}}
            </div>
            <div class="card-content">
                <a href="/templates/edit/{{template.id}}" class="btn green">
                    <i class="fa fa-pencil"></i> Edit
                </a>
                <form action="/templates/{{template.id}}?_method=DELETE" method="POST" id="delete-form">
                    <button type="submit" class="btn red">
                        <i class="fa fa-remove"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{vendor.name}}</span>
                <img src="{{vendor.image.url}}" class="circle responsive-img">
                {{!-- <br>
                <br>
                <div class="chip">
                    <img src="{{user.image}}">
                    <a href="/templates/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                </div> --}}
            </div>
            <div class="card-action">
                <a href="/templates/{{vendor.id}}">View more templates for {{vendor.name}}</a>
            </div>
        </div>
    </div>
</div>